services:
  - type: web
    name: tg-filestreambot
    env: docker
    plan: free
    region: singapore
    healthCheckPath: /
    envVars:
      - key: PORT
        value: 8080
      - key: API_ID
        sync: false
      - key: API_HASH
        sync: false
      - key: BOT_TOKEN
        sync: false
      - key: LOG_CHANNEL
        sync: false
      - key: HOST
        sync: false
